:root {
  --primary-color: #35CA8B;
  --primary-color-hover: #28BA7C;
  --secondary-color: #61818E;
  --secondary-color-hover: #4b656f;

  --light-green: rgba(52, 202, 139, .2);

  --header-color: #7C7C7C;
}

*{
  /* transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1); */
}