:root {
  --primary-color: #35ca8b;
  --primary-color-hover: #28ba7c;
  --secondary-color: #61818e;
  --secondary-color-hover: #4b656f;

  --light-green: rgba(52, 202, 139, 0.2);
 
}

* {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #35ca8b transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
